<main class="p-5">
    <div class="row mb-3 text-center">
      <div class="col-6">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-light bg-dark border-primary">
            <h4 class="my-0 fw-normal">Total Instructors</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{instructors}}</h1>
            <button type="button" class="mt-3 w-100 btn btn-lg btn-info">View Instructors</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-light bg-dark border-primary">
            <h4 class="my-0 fw-normal">Total Students</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{students}}</h1>
            <button type="button" class="mt-3 w-100 btn btn-lg btn-info">View Students</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-success border-dark">
            <h4 class="my-0 fw-normal">Total Published Course</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{instructors}}</h1>
            <button type="button" class="mt-3 w-100 btn btn-lg btn-info">View Unpublished Course</button>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4 rounded-3 shadow-sm border-dark">
          <div class="card-header py-3 text-white bg-danger border-dark">
            <h4 class="my-0 fw-normal">Total Unpublished Course</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{instructors}}</h1>
            <button type="button" class="mt-3 w-100 btn btn-lg btn-info">View Unpublished Course</button>
          </div>
        </div>
      </div>
    </div>
</main>