body {
    background: #c9ccd1;
}

.form-style input{
    height: 50px;
}
.form-style input,
.form-style textarea {
    border: 0;
    /* height: 50px; */
    border-radius: 0;
    border-bottom: 1px solid #ebebeb;
}

.form-style input:focus,
.form-style textarea:focus {
    border-bottom: 1px solid #007bff;
    box-shadow: none;
    outline: 0;
    background-color: #ebebeb;
}

button {
    height: 50px;
}