<div id="container">
    <main>
        <div class="p1">
            - Welcome To LMS
        </div>
        
        <div class="p2">
            Worlds Best Online Learning Platform.
        </div>
        <div class="p3">
            Providing top courses from expert Instructors in their respective fields...
        </div>
        <div class="p4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, fuga? Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Repudiandae, nulla?
        </div>
        <div class="getStartBtn">
            <a routerLink="/signup" class="btn" ><div class="button">Get Started Now</div></a>
        </div>
    </main>
</div>